:root {
    --gradient: linear-gradient(var(--gradient-direction), rgb(var(--gradient-primary)), rgb(var(--gradient-secondary)));
    --gradient-20: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.2), rgba(var(--gradient-secondary), 0.2));
    --gradient-50: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.5), rgba(var(--gradient-secondary), 0.5));
    --gradient-90: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.9), rgba(var(--gradient-secondary), 0.9));
    --version: "Frosted Glass 2.0.13";
}
.colorDefault-CDqZdO.focused-3qFvc8{
    background-color: none;
    background:var(--gradient);
}
#app-mount .botTagRegular-2HEhHi {
    background: var(--gradient);
    color: var(--text-normal);
    margin-top: 0;
}

#app-mount .botTagInvert-18-95s {
    color: rgb(var(--gradient-primary));
}

::-moz-selection {
    background: rgb(var(--gradient-primary));
    color: var(--text-normal);
}

::selection {
    background: rgb(var(--gradient-primary));
    color: var(--text-normal);
}

#app-mount .tooltipPrimary-3qLMbS {
    background: var(--gradient);
}

#app-mount .bd-pfbtn,
#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91 {
    background: var(--gradient);
}

#app-mount .lookLink-9FtZy-.colorBrand-3pXr91 {
    color: rgb(var(--gradient-primary));
    opacity: 1;
}

#app-mount .item-26Dhrx[style*="rgb(114, 137, 218)"] {
    background: var(--gradient) !important;
}

#app-mount .item-26Dhrx[style*="rgb(114, 137, 218)"] .checkbox-1ix_J3 {
    background: var(--text-normal);
}

#app-mount .item-26Dhrx[style*="rgb(114, 137, 218)"] polyline {
    stroke: rgb(var(--gradient-primary));
}

#app-mount .themeDefault-24hCdX.valueChecked-m-4IJZ {
    background: var(--gradient);
}

#app-mount .checkboxElement-uwAa9F:checked+span {
    border-color: rgb(var(--gradient-primary));
    background: rgb(var(--gradient-primary));
}

#app-mount .checkbox-3s5GYZ {
    color: rgb(var(--gradient-primary));
}

#app-mount .checkbox-1ix_J3.checked-1pZh2h {
    background: var(--gradient) !important;
    border: none !important;
}

#app-mount .barFill-2Bh7CX {
    background: var(--gradient);
}

#app-mount .guilds-2JjMmN .tutorialContainer-1pL9QS .childWrapper-1j_1ub {
    background: var(--gradient);
    background-color: transparent;
}

#app-mount .guilds-2JjMmN [class*=circleIconButton] {
    background: var(--white);
    color: rgb(var(--gradient-primary));
}

#app-mount .containerDefault-YUSmu3.selected-2TbFuo .content-1gYQeQ {
    background: var(--gradient) !important;
}

#app-mount .containerUserOver-SDa1HW::after {
    background: var(--gradient-20);
    border: 2px solid rgb(var(--gradient-primary));
}

#app-mount .channel-1Shao0 .selected-3veCBZ {
    background: var(--gradient);
}

#app-mount .unread-1xRYoj {
    background: var(--gradient);
}

#app-mount .newMessagesBar-1hF-9G {
    background: var(--gradient);
    opacity: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#app-mount .message-2CShn3 .reaction-1hd86g.reactionMe-wv5HKu {
    background: var(--gradient);
}

#app-mount .mentioned-Tre-dv {
    background: var(--gradient-20) !important;
}

#app-mount .mentioned-Tre-dv::before {
    background: var(--gradient);
}

#app-mount .wrapper-1ZcZW- {
    background: var(--gradient);
    color: var(--text-normal);
}

#app-mount .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw {
    background: var(--gradient);
}

#app-mount .member-2gU6Ar.selected-1-Z6gm .botTagRegular-2HEhHi {
    background: var(--text-normal);
    color: rgb(var(--gradient-primary));
    margin-top: 0;
}

#app-mount [class*=userPopout][aria-modal=true] .headerPlaying-j0WQBV {
    background: var(--gradient-50);
}

#app-mount .button-F9qN4n.focused-3ZzkKr {
    background: var(--white-double);
    box-shadow: 0 0 0 2px rgb(var(--gradient-primary));
}

#app-mount .drawerSizingWrapper-27qFHb [aria-selected=true] .navButton-3Mnpqt {
    background: var(--gradient);
}

#app-mount .drawerSizingWrapper-27qFHb .categoryFadeBlurple-1HuV1x {
    background: var(--gradient-90);
}

#app-mount .drawerSizingWrapper-27qFHb .focused-q9B2e4::after,
#app-mount .drawerSizingWrapper-27qFHb .result-3OpoO7:hover::after {
    box-shadow: inset 0 0 0 2px rgb(var(--gradient-primary));
}

#app-mount .container-2McqkF .react-datepicker__day--selected::after {
    background: var(--gradient);
}

#app-mount .root-8LYsGj .topSectionPlaying-1J5E4n {
    background: var(--gradient-50);
}

#app-mount .content-1SgpWY .categoryItem-3zFJns.selected-1-Z6gm .itemInner-3gVXMG {
    background: var(--gradient);
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
